.btn{
    margin-top: 100px;
    width: 200px;
    height: 25px;
    background-color: green;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: transparent;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}